<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>99247223901-nq2grhhjj4jvrt5kbk1gv4ofjmqr15pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99247223901-nq2grhhjj4jvrt5kbk1gv4ofjmqr15pl</string>
	<key>API_KEY</key>
	<string>AIzaSyANZ1LlfFys72EM3xJRfR4eKeiwRsDcXoo</string>
	<key>GCM_SENDER_ID</key>
	<string>99247223901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.ShoppingProject</string>
	<key>PROJECT_ID</key>
	<string>shoppingproject-39d8b</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingproject-39d8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:99247223901:ios:48a0fdb87036d984</string>
	<key>DATABASE_URL</key>
	<string>https://shoppingproject-39d8b.firebaseio.com</string>
</dict>
</plist>