/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.
*/

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';

.page-text {
   vertical-align: center;
   text-align: center;
}

ListView {
   padding: 15;
   font-size: 15;
   color: #670;
   background-color: whitesmoke;
}

.list-view-item {
   height: 48;
   font-size: 16;
   color: #212121;
   background-color: #FFFFFF;
   padding-top: 16;
   padding-bottom: 16;
   padding-left: 16;
   padding-right: 16;
}

.selected {
   height: 48;
   font-size: 16;
   background-color: #DCEDC8;
   padding-top: 16;
   padding-bottom: 16;
   padding-left: 16;
   padding-right: 16;
}